<div class="container">
  {% if error %}
    <div class="row">
        <h1>{{ error }}</h1>
    </div>
  {% endif %}
  {% if invite %}
    <div class="row">
        <h2>{{ invite }}</h2>
    </div>
  {% endif %}
  {% if body %}
    <div class="row">
        <p>{{ body|raw }}</p>
    </div>
  {% endif %}
  {% if acсept or reject %}
    <div class="row text-center top-buffer">
        <div class="col-sm-6">{{ acсept }}</div>
        <div class="col-sm-6">{{ reject }}</div>
    </div>
  {% endif %}
</div>
