<style type="text/css">
	body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 800px;
  width: 800px;
}

text {
  fill: #555;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1; 
}
</style>
<div class="container">
<svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img">
  <title id="title">A line chart showing some information</title>

<g class="grid x-grid" id="xGrid">
  <line x1="90" x2="90" y1="5" y2="600"></line>
</g>
<g class="grid y-grid" id="yGrid">
  <line x1="90" x2="705" y1="600" y2="600"></line>
</g>
  <g class="labels x-labels">
  <text x="100" y="620">1</text>
  <text x="246" y="620">2</text>
  <text x="392" y="620">3</text>
  <text x="538" y="620">4</text>
  <text x="684" y="620">5</text>
  <text x="400" y="660" class="label-title">Customization score</text>
</g>
<g class="labels y-labels">
  <text x="80" y="15">5</text>
  <text x="80" y="161">4</text>
  <text x="80" y="307">3</text>
  <text x="80" y="453">2</text>
  <text x="80" y="599">1</text>
  <text x="50" y="200" class="label-title">Inclusiveness
score</text>
</g>
<g class="data" data-setname="Our first data set">
	
  <!-- <circle cx="{{ items }}" cy="312.5" data-value="7.2" r="4"></circle>
  <circle cx="{{ items1 }}" cy="375" data-value="8.1" r="4"></circle>
  <circle cx="{{ items2 }}" cy="312.5" data-value="7.7" r="4"></circle> -->
  <polygon points="{{ items }},{{ itemsy }} {{ items1 }},{{ itemsy1 }} {{ items2 }},{{ itemsy2 }}" style="fill:lime;stroke:purple;stroke-width:1" />
  <defs>
    <marker id="arrow" markerWidth="10" markerHeight="10" refX="2" refY="3" orient="auto" markerUnits="strokeWidth">
      <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
    </marker>
  </defs>

  <line x1="{{ items }}" y1="{{ itemsy }}" x2="362" y2="353" stroke="#000" stroke-width="5" marker-end="url(#arrow)" />
  <text x="{{ items }}" y="{{ itemsy }}" dy=".35em">Front end</text>
  <text x="{{ items1 }}" y="{{ itemsy1 }}" dy=".35em">Back-end</text>
  <text x="{{ items2 }}" y="{{ itemsy2 }}" dy=".35em">Monetization</text>
  <text x="{{ itemsz1 }}" y="{{ itemsz2 }}" dy=".35em">Target position</text>
  <circle cx="{{ itemsz1 }}" cy="{{ itemsz2 }}" data-value="8.1" r="12"></circle>
</g>
</svg>
</div>