<style type="text/css">

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 500px;
  width: 500px;
  background-color: black !important;
}

text {
  fill: white;
  font-size: 20%;
}

.graph .grid {
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 100%;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70;
  fill: white;
}

.data {
  fill: #ffbe18;
  stroke-width: 1; 
}

@media screen and (max-width: 1599px) and (min-width: 1100px)  {
  .graph {
    height: 350px;
    width: 350px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .graph {
    height: 210px;
    width: 210px;
    margin-top: 20px;
  }
}

</style>
<div class="container">

<h1 class="step-3-title">Step 3: Design your transformation path</h1>
  
<svg id="test" version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img" viewbox=" 0 0 100 100" >
  <defs>
    <marker id="arrowhead" markerWidth="5" markerHeight="3.5" 
    refX="0.1" refY="1.75" orient="auto" >
      <polygon points="0 0, 5 1.75, 0 3.5" fill="#ffbe18"/>
    </marker>
  </defs>
  
  <title id="title">A line chart showing some information</title>

<g class="grid x-grid" id="xGrid">
  <line x1="13%" x2="13%" y1="86%" y2="11%" stroke="#ffbe18" stroke-width="0.6" marker-end="url(#arrowhead)"></line>
</g>

<g class="grid x-grid" id="xGrid">
  <line x1="83%" x2="83%" y1="16%" y2="86%" stroke="#ffbe18" stroke-width="0.6"></line>
</g>

<g class="grid x-grid" id="xGrid">
  <line x1="48%" x2="48%" y1="16%" y2="86%"  stroke="#ffbe18" stroke-width="0.3" stroke-dasharray="3"  ></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="13%" x2="89%" y1="86%" y2="86%" stroke="#ffbe18" stroke-width="0.6" marker-end="url(#arrowhead)"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="13%" x2="83%" y1="16%" y2="16%" stroke-width="0.6" stroke="#ffbe18" ></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="13%" x2="83%" y1="51%" y2="51%" stroke-width="0.3" stroke-dasharray="3" stroke="#ffbe18"></line>
< /g>
  <g class="labels x-labels">
  <text x="13%" y="89%">0</text>
  <text x="27%" y="89%">1</text>
  <text x="41%" y="89%">2</text>
  <text x="55%" y="89%">3</text>
  <text x="69%" y="89%">4</text>
  <text x="83%" y="89%">5</text>
  <text x="80%" y="93%" class="label-title">Customization score</text>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="27%" x2="27%" y1="85%" y2="86.5%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="41%" x2="41%" y1="85%" y2="86.5%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="55%" x2="55%" y1="85%" y2="86.5%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="69%" x2="69%" y1="85%" y2="86.5%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="83%" x2="83%" y1="85%" y2="86.5%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>


<g class="labels y-labels">
  <text x="11%" y="86%">0</text>
  <text x="11%" y="72.5%">1</text>
  <text x="11%" y="58.5%">2</text>
  <text x="11%" y="44.5%">3</text>
  <text x="11%" y="30.5%">4</text>
  <text x="11%" y="16.5%">5</text>
  <text x="35%" y="5%" class="label-title">Inclusiveness
score</text>
</g>
<g class="grid y-grid" id="yGrid">
  <line x1="12.2%" x2="13.5%" y1="72%" y2="72%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="12.2%" x2="13.5%" y1="58%" y2="58%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="12.2%" x2="13.5%" y1="44%" y2="44%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="12.2%" x2="13.5%" y1="30%" y2="30%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>

<g class="grid y-grid" id="yGrid">
  <line x1="12.2%" x2="13.5%" y1="16%" y2="16%" stroke="#ffbe18" stroke-width="0.3"></line>
</g>


<g class="data" data-setname="Our first data set">
	

 <polygon points="{{ frontx }},{{ fronty }} {{ backx }},{{ backy }} {{ monetx }},{{ monety }}" style="fill:#ffbe18;stroke:white;stroke-width:0.3" />
  <defs>
    <marker id="arrow" markerWidth="5" markerHeight="5" refX="2" refY="2" orient="auto" markerUnits="strokeWidth">
      <path d="M0,0 L0,4 L5,2 z" fill="#ffbe18" />
    </marker>
  </defs>

  <line x1="{{ arrowx1 }}" y1="{{ arrowy1 }}" x2="{{ arrowx2 }}" y2="{{ arrowy2 }}" stroke="#fff" stroke-width="1" marker-end="url(#arrow)" />
  <text x="{{ frontx }}" y="{{ fronty }}" dy=".35em">Front end</text>
  <text x="{{ backx }}" y="{{ titlebacky }}" dy=".35em">Back-end</text>
  <text x="{{ monetx }}" y="{{ titlemonety }}" dy=".35em">Monetization</text>
  <text x="{{ targetx }}" y="{{ titletargety }}" dy=".35em">Target position</text>

  <image xlink:href="/themes/custom/kogan/images/star.png" x="{{ targetx }}" y="{{ targety }}" height="4" width="4"/>

</g>
</svg>
</div>


<div class="container">
  <div class="cont-result">  <div class="add-feedback">
      <a class="link-feedback"> Get the full report and a discount code for the book</a>
    </div>

    <div class="send-res">
      <a class="again-button" href="/questionnaire">Redo</a>
    </div>

    <div class="feedback">
      {{ feedback }} 
    </div>

    <div class="send-res">
      <a class="again-but" href="/questionnaire">Redo</a>
    </div>

    <p class="info-submit-feedback"> Get the full customized report and a discount code</p>

  </div>
  <div class="share-social">
    <div class="share-twitter">
      <a target="_blank" href="https://twitter.com/intent/tweet?text={{ base_url }}"><img class="twitter-share" src="/themes/custom/kogan/images/twitter-3-512.png" style="height: 30px"><span>Share on Twitter</span></a>
    </div>

    <div class="share-facebook">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}"><img class="facebook-share" src="/themes/custom/kogan/images/facebook-6-xxl.png" style="height: 30px"><span>Share on Facebook</span></a>
    </div>
    <div class="share-linkedin">
    	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_url }}&title=sdsadsa&summary=&source="><img class="facebook-share" src="/themes/custom/kogan/images/linkedin-3-xxl.png" style="height: 30px"><span>Share on Linkedin</span></a>
    </div>  
  </div>
</div>


